@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.first-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #1F2937;
    padding: 15px 275px 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul, .header-caption {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    margin: 100px 0px;
}

.left {
    flex-wrap: wrap;
    flex: 1;
    margin-right: 30px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    padding: 8px 16px;
    color: white;

}

.image {
    display: flex;
    background-color: grey;
    flex: 1;
    width: auto;
    height: 400px;
}

.header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.header-caption {
    margin-bottom: 8px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.s2-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.pictures {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 120px;
}

.info-pair {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}

.square{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.image-subtext {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 120px 500px 100px;
}

.quote {
    font-size: 36px;
    font-family: light italic;
    justify-content: center;
}

.quoted {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

